.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53d7ff), color-stop(100%,#dbff4d));
    background: -webkit-linear-gradient(top, #53d7ff 0%, #dbff4d 100%);
}

.login-container > .button-row img {
    max-width: 80%;
}

.login-container > .header {
    -webkit-flex: 4;
    padding-top: 20px;
}